html {
  font-family: sans-serif;
}

nav {
  display: flex;
  width: 80%;
  margin: 0 auto;
  background-color: #e7c8c8;
}

nav a {
  border-right: 1px solid black;
  flex-grow: 1;
  text-align: center;
}

nav a:last-child {
  border: none;
}
